body{
    display: flex;
    justify-content: center;
}
#plans{
			background-color : #ddddee;
			height : 589px;
			width : 600px;
			border: solid 2px #ddddee;
			border-radius : 10px;

		}
#img-1{
    width: 600px;
    height: 589px;
    position : absolute;
    border-radius : 10px;
}
#img-2{
    height: 36px;
    width: 16px;
    position : relative;

}
#utilisateur{
    width: 100%;
    text-align: right;
    position : absolute;
    width: 100px;
    margin-left: calc(100% - 120px);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.donnees{
    display: flex;
    justify-content: center;
}
.coordonnees{
 margin-left: 50px;
 margin-right: 50px;
}
#map{
    border-radius: 10px;
    border: #ddddee solid 5px;
    height: 600px;
    width: 600px;
    flex: 1;
}
.map_mobile{
    border: aqua solid 50px;
}